<div class='row'>
	<div class="span0 well text-center">
		<%= link_to '' do %>
			<i class="icon-arrow-up"></i>
		<% end %>
		<br />
		<%= link_to '' do %>
			<i class="icon-arrow-down"></i>
		<% end %>
	</div>
	<div class='span8 well'>
		<%= render post.categories %>
		<h4><%= link_to post.title, fix_url(post.url) %></h4>
		<p><%= post.description %></p>
		<p>
			<span class="quiet"> posted by: <%= post.creator.username %> <small>at <%= friendly_datetime(post.created_at) %></small></span>
		</p>
		<span>
			<%= link_to("#{post.comments.size} comments", post_path(post)) %>
		</span>
	</div>
</div>